
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">

    <title>Book Detail</title>
</head>
<body class="teacher">
<header>
    <!-- Logo and Nav -->
    <div th:replace="~{fragments/nav-teacher :: nav}"></div>
</header>



<main>
    <!-- Add Page Title and Content Here!-->
    <h2> Book Detail</h2>
    <p th:text="${book.title}">Book Title</p>

    <div class="book-detail-layout">
        <div class="book-info-panel">
            <div th:replace="~{books/fragments/book-info-frag :: bookForm}"></div>
        </div>

        <div class="sidebar-panel">
            <div class="genre-box" th:replace="~{books/fragments/book-genre-frag :: bookGenres(book=${book})}"></div>
            <div class="topic-box" th:replace="~{books/fragments/book-topic-frag :: bookTopics(book=${book})}"></div>
        </div>
    </div>

    <div class="book-copies-panel">
        <div th:replace="~{books/fragments/bookcopy-info-frag :: copyList(book=${book})}"></div>
    </div>
    <div th:if="${book.id != null}">
        <a th:href="@{'/books/detail/' + ${book.id} + '?showCopyForm=true'}"
           class="button btn-primary">+ Add New Copy</a>
    </div>
    <div th:if="${showCopyForm}" class="form-field">
        <h3>Add New Copy</h3>
        <form th:action="@{'/books/' + ${book.id} + '/copy/add'}" method="post">
            <label for="simpleId">Simple ID:</label>
            <input type="text" id="simpleId" name="simpleId" required />

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" />

            <button type="submit" class="button submit">Add Copy</button>
        </form>
    </div>

</main>



<footer>
    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>