
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">

    <title>Book Detail</title>
</head>
<body class="teacher">
<header>
    <!-- Logo and Nav -->
    <div th:replace="~{fragments/nav-teacher :: nav}"></div>
</header>
<main>
    <!-- Add Page Title and Content Here!-->
    <h2> Book Detail</h2>
    <p th:text="${book.title}">Book Title</p>

    <div th:replace="~{books/book-info-frag :: bookForm}"></div>

    <div th:replace="~{books/bookcopy-info-frag :: copyList(book=${book})}"></div>











</main>
<footer>
    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>