<!-- templates/fragments/nav-teacher.html -->

<div th:fragment="nav">
    <nav class="top-nav">
        <div class="logo-container">
            <img th:src="@{/images/logo2.png}" alt="Classroom Library Logo" class="logo" />
            <span class="app-name">Classroom Library</span>
        </div>
        <div>
            <p style="font-size: .7em">Current User:</p>
            <p><span th:text="${#authentication.name}">Teacher</span></p>
        </div>

        <a th:href="@{/teachers/dashboard}">
<!--           th:classappend="${#httpServletRequest.requestURI == '/teachers/dashboard'} ? ' active'">-->
            🏠 Dashboard
        </a>
        <a th:href="@{/books/inventory}">
<!--           th:classappend="${#httpServletRequest.requestURI == '/books'} ? ' active'">-->
            📚 Books
        </a>
        <a th:href="@{/teachers/students/list}">
<!--           th:classappend="${#httpServletRequest.requestURI == '/students'} ? ' active'">-->
            👩‍🏫 Students
        </a>
        <a th:href="@{/reports}">
<!--           th:classappend="${#httpServletRequest.requestURI == '/reports'} ? ' active'">-->
            📊 Reports
        </a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="nav-link-button">
                🚪 Logout</button>
        </form>
    </nav>
</div>

