
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}">

  <title>Teacher Dashboard</title>
</head>
<body class="teacher">
<header>
  <!-- Logo and Nav -->
  <div th:replace="~{fragments/nav-teacher :: nav}"></div>
</header>
<main>
  <!-- Add Page Title and Content Here!-->
  <h2> Teacher Dashboard</h2>




</main>
<footer>
  <!-- Footer -->
  <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>