<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">

    <title>Student Dashboard</title>
</head>
<body class="student">
<header>
    <!-- Logo and Nav -->
    <div th:replace="~{fragments/nav-student :: nav}"></div>
</header>
<main>
    <!-- Add Page Title and Content Here!-->
    <h2> Student Dashboard</h2>




</main>
<footer>
    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>











